@charset "utf_8";

/*body*/
.mainVisual{
  /* padding-top: 140px; */
  /* padding-bottom: 100px; */
  background-image: url("");
  background-size: cover;

  color: #87cefa;
  text-align: center;
}
.row{
  /* padding: 90px 0 60px; */
  background-color: #5a5c5f;
  border-radius: 7px;
  box-shadow: 1px 1px 4px #000000;
}
.col-md-9{
  width: 85%;
}
.col-md-3{
  width: 15%;
}
#myTurn{
  background-color: #5a5c5f;
  box-shadow: 1px 1px 4px #000000;

  font-size: 30px;
  text-align: center;
}
#displayQuestionBox{
  background-color: #5a5c5f;
  box-shadow: 1px 1px 4px #000000;
  height: 40vh;
  /*横並び*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#myHand{
  /* padding: 25px 30px; */
  /* margin: 0 20px; */
  background-color: #5a5c5f;
  /* border-radius: 7px; */
  box-shadow: 1px 1px 4px #000000;
  text-align: center;

  /*横並び*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#dataLog{
  /* padding: 25px 30px; */
  background-color: #5a5c5f;
  text-align: center;

  /*縦並び*/
  display: flex;
  flex-direction: column;
}
.questionCard{
  padding: 25px 30px;
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 1px 1px 4px #000000;
  width: 25%;
  font-size: 14px;
  text-align: center;
}
.numberTile{
  width: 15%;
  height: 20%;
}

#numberTileR0{
  order: 0;
}
#numberTileB0{
  order: 1;
}
#numberTileR1{
  order: 2;
}
#numberTileB1{
  order: 3;
}
#numberTileR2{
  order: 4;
}
#numberTileB2{
  order: 5;
}
#numberTileR3{
  order: 6;
}
#numberTileB3{
  order: 7;
}
#numberTileR4{
  order: 8;
}
#numberTileB4{
  order: 9;
}
#numberTileR5{
  order: 10;
}
#numberTileB5{
  order: 11;
}
#numberTileR6{
  order: 12;
}
#numberTileB6{
  order: 13;
}
#numberTileR7{
  order: 14;
}
#numberTileB7{
  order: 15;
}
#numberTileR8{
  order: 16;
}
#numberTileB8{
  order: 17;
}
#numberTileR9{
  order: 18;
}
#numberTileB9{
  order: 19;
}
